body
{
  background-color: #05050D;
  background-image: url(fondo.png);
  color: #43D9D9;
  font-family: 'Rubik', sans-serif;
}
input{
  border-radius: 5px;
  margin-bottom: 10px;
}
ol{
  margin: 10px;
}
li{
  width: auto;
}
p{
  margin: 20px;
}
button{
  margin: auto;
  margin-top: 50px;
}
.main-header{
  padding: 5px 1px;
  margin: 4px;
  text-align: center;
}
.cuerpo{
  text-align: center;
  font-size: 20px;
}
.box{
  background-image: url(space.png);
  padding: 15px 15px;
  border-radius: 10px;
  border: 1px solid #05050D;
  box-shadow: -3px 3px 20px #061F40;
}
.cajita
{
  background-color: #061F40;
  border-radius: 10px;
  padding: 1px;
  margin
}
.recarga{
  text-decoration: none;
  margin-top: 25px;
  color: white;
}
.boton-recarga{
  width: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #061F40;
  margin: auto;
  margin-top: 50px;
  border-radius: 5;
}
#peso, #planeta{
 width: 30px;
}
