body {
  font-family: 'Work Sans', sans-serif;
  margin:0;
  background-color: #F2F2F2;
  color: #3B568C;
}
/* /* NOTE:BARRA DE NAVEGACIÓN  */
header{
  text-align: left;
  width: 100%;
  height: auto;
  display: flex;
  box-shadow: 0px 0px 5px gray;
}
nav{
  background-color: #F2F2F2;
  position: fixed;
  z-index: 1;
  width: 100%;
}
nav ul{
  margin-right: 4.5em;
}
a{
  color: #3B568C;
  text-decoration: none;
}
.logo-space{
  float: left;
  padding: 1em;
}
.p{
  width: 50vw;
  font-weight: 400;
  font-size: 1.5em;
}
h1:hover{
  filter: opacity(.8);
}
.nav-bar{
  float: right;
  vertical-align: middle;
  display: flex;
}
.nav-bar li{
  margin: 1.5em;
  font-weight: 200;
  font-size: 1em;
  display: inline;
  vertical-align: middle;
}
.nav-bar li:hover{
  filter: opacity(.5);
}
.show{
  display: block;
  float: none;
}
.icon-nav{
  /*height: auto;*/
  width: 20%;
  cursor: pointer;
  font-size: 2em;
  display: block;
  padding: 1em 0em;
  float: right;
  /*display: flex;
  align-items: center;*/
}
h2{
  font-weight: 200;
  text-align: center;
}
h3{
  font-size: 36px;
  font-weight: 1000;
  display: inline-block;
}
i{
  display: inline-block;
  margin-left: 15.5px;
  color: #0D0D0D;
}
dt{
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 12px;
  margin-top: 3vh;
}
.intro-info dt{
  text-transform: capitalize;
  font-weight: 700;
}
dl{
  font-size: 15px;
}
.intro-info dd{
  margin:0;
}
ul{
  margin-top: 12px;
  padding: 0;
}

/* NOTE: PRIMER BLOQUE */
.content{
  position: relative;
  background: url("fondo1.jpg") 0/ cover fixed;
  margin: auto;
  padding-top: 21vh;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
}
/*.content{
  margin: auto;
  width: 100%;
}*/
.foto{
  display: block;
  vertical-align: bottom;
}
.yo{
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  position: static;
}
#info-name{
  font-size: 1.7em;
  margin:0;
  font-weight: 200;
  margin-bottom: 5px;
}
.intro-text{
  max-width: 100%;
  height:auto;
  width: 400px;
  vertical-align: bottom;
  display: inline-block;
  background-color: #F2F2F2;
}
.flex-text{
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-info{
  text-align: left;
}
.contact-box{
  max-width: 100%;
  height: auto;
  margin: auto;
  width: 800px;
  height: 50px;
  background-color: #42628C;
  display: flex;
  justify-content: space-around;
}
.contact-icon{
  display: flex;
  align-items: center;
  flex-direction: row;
}
.contact-icon i{
  color: white;
}
.contact-icon a{
  min-width: 50px;
}
#section2{
  background-color: #D5D8DD;
}
.description{
  max-width: 100%;
  width: 100%;
  text-align: center;
  padding-top: 5vh;
}
.text-desc{
  max-width: 100%;
  height: auto;
  margin: auto;
  width: 40vw;
  display: flex;
  justify-content: center;
  padding-bottom: 6vh;
  font-size: 1em;
}
.bold{
  font-weight: 700;
}
.thin{
  font-weight: 500;
  font-size: 25px;
}
.head{
  max-width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 3px gray;
  width: 100%;
}
.head-2{
  max-width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  border: 1px solid #F2F2F2;
  width: 100%;
  background-color: #42628C;
  color: #F2F2F2;
}
.experiencia, .educa .cursos, .otros{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.body{
  display: flex;
  align-items: center;
}
.text{
  width: 50%;
  display:flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1em;
  margin-top: 0;
  vertical-align: middle;
}
.expro{
  display: inline-block;
  vertical-align: middle;
  margin-left: 40px
}
.job-desc{
  width: 50%;
  margin: 1em;
  margin-top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  vertical-align: middle;
}
.skill{
  background-color: #42628C;
  color: #F2F2F2;
  width: 100%;
  display: flex;
  justify-content: center;
}
.s-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.s-list li{
  border: 1px solid white;
  max-width: 100%;
  width: 20em;
  list-style: none;
  padding: 1.7em;
  text-align: center;
  margin: 4.5em;
  margin-bottom: .5em;
  margin-top: 1em;
}
.hobbies{
  display: flex;
  justify-content: center;
}
.hob{
  max-width: 33%;

}



/* NOTE: MEDIAS QUERIES */

@media screen and (max-width: 568px) {
  .nav-bar{
    display: none
  }
  .logo-space{
    width: 80%;
    padding: 0;
    display: flex;
    align-items: center;
  }
  .p{
    width: 80%;
    margin-right: 0;
    padding: .5em;
  }
}
@media screen and (min-width: 569px) and (max-width: 812px) {
  .nav-bar{
    display: none
  }
  .logo-space{
    width: 80%;
    padding: 0;
    display: flex;
    align-items: center;
  }
  .p{
    width: 80%;
    margin-right: 0;
    padding: .5em;
  }
}
@media screen and (min-width: 813px){
  .icon-nav{
    display: none
  }
}
