/* NOTE: COLORES
#013E6E - AZUL FUERTE
#2894A4 - SEGUNDO AZUL
#9EC4BD - VERDE AQUA
#E5E1EE - GIRS
#E4EDE3 - VERDE CLARO
#55B6C5 - TERCER AZUL
#668488 - AZUL CON GRIS Y VERDE
 */

body{
  font-family: 'Work Sans', sans-serif;
  margin:0;
  background-color: #FFFFFF;
  color: #003C6B;
  font-weight: 200;
}
/* /* NOTE:BARRA DE NAVEGACIÓN  */
header{
  text-align: left;
  text-align: left;
  padding-bottom: 5em;
  width: 100%;
  height: auto;
  display: flex;
}
nav{
  background-color: #FFFFFF;
  position: fixed;
  z-index: 1;
  width: 100%;
  box-shadow: 0px 0px 5px gray;
}
nav ul{
  margin-right: 4.5em;
}
a{
  color: #003C6B;
  text-decoration: none;
}
.logo-space{
  float: left;
  padding-left: 1em;
}
.p{
  width: 50vw;
  font-weight: 200;
  font-size: 1.5em;
}
h1:hover{
  filter: opacity(.8);
}
.nav-bar{
  float: right;
  vertical-align: middle;
  display: flex;
}
.nav-bar li{
  margin: 1em;
  font-weight: 200;
  font-size: 1em;
  display: inline;
  vertical-align: middle;
}
.nav-bar li:hover{
  filter: opacity(.5);
}
.show{
  display: block;
  float: none;
}
.icon-nav{
  /*height: auto;*/
  width: 20%;
  cursor: pointer;
  font-size: 2em;
  display: block;
  padding: 1em 0em;
  float: right;
  /*display: flex;
  align-items: center;*/
}
h2{
  font-weight: 400;
  text-align: center;
}
h3{
  font-size: 1.3em;
  font-weight: 400;
  display: inline-block;
}
i{
  display: inline-block;
  margin-left: 15.5px;
  color: #0D0D0D;
}
dt{
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 12px;
  margin-top: 3vh;
}
.intro-info dt{
  text-transform: capitalize;
  font-weight: 700;
}
dl{
  font-size: 15px;
}
.intro-info dd{
  margin:0;
}
ul{
  margin-top: 12px;
  padding: 0;
}

/* NOTE: FOTO E INFO */

.content{
  position: relative;
  background: url("fondo1.jpg") 0/ cover fixed;
  margin: auto;
  padding-top: 21vh;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
}

.foto{
  display: block;
  vertical-align: bottom;
}
.yo{
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  position: static;
}
#info-name{
  font-size: 1.7em;
  margin:0;
  font-weight: 200;
  margin-bottom: 5px;
}
.intro-text{
  max-width: 100%;
  height:auto;
  width: 400px;
  vertical-align: bottom;
  display: inline-block;
  background-color: #F1F1F1;
}
.flex-text{
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-info{
  text-align: left;
}
.contact-box{
  max-width: 100%;
  height: auto;
  margin: auto;
  width: 800px;
  height: 50px;
  background-color: #003C6B;
  display: flex;
  justify-content: space-around;
}
.contact-icon{
  display: flex;
  align-items: center;
  flex-direction: row;
}
.contact-icon i{
  color: white;
}
.contact-icon a{
  min-width: 50px;
}
#section2{
  background-color: #F1F1F1F1;
}
.description{
  max-width: 100%;
  width: 100%;
  text-align: center;
  padding-top: 5vh;
}
.text-desc{
  max-width: 100%;
  height: auto;
  margin: auto;
  width: 50vw;
  display: flex;
  justify-content: center;
  padding-bottom: 6vh;
  font-size: 1em;
}
.bold{
  font-weight: 700;
}
.thin{
  font-weight: 500;
  font-size: 25px;
}

/* NOTE: EXPERIENCIA EDU Y DEMÀS */
.head{
  max-width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 3px gray;
  width: 100%;
  padding: .5em
}
.head-2{
  max-width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  border: 1px solid #F2F2F2;
  width: 100%;
  background-color: #013E6E;
  color: #F2F2F2;
  padding: .5em;
}
.experiencia, .educa .cursos, .otros{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.division{
  width: .2em;
  max-width: 10%;
  height: 13em;
  background-color: #F2F2F2F2;
  margin: 1em 1em;
}
.division-ed{
  width: .2em;
  max-width: 10%;
  height: 5em;
  background-color: #F2F2F2F2;
  margin: 2em 1em;
}
.body{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.text{
  width: 65%;
  height: auto;
  margin: 1em;
  margin-top: 0;
}
.work{
  display: flex;
}
.year{
  width: 50%;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.name{
  width: 50%;
  margin:1em;;
}
dd{
  margin: 0;
}
.job-desc{
  width: 65%;
  margin: 1em;
  margin-top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  vertical-align: middle;
}
.skill{
  background: url("fondo2.jpg") 0/ cover fixed;
  color: #F2F2F2;
  width: 100%;
  display: flex;
  justify-content: center;
}
.s-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.s-list li{
  background-color: #013E6E;
  border: 1px solid #013E6E;
  max-width: 100%;
  width: 20em;
  list-style: none;
  padding: 1.7em;
  text-align: center;
  margin: 4.5em;
  margin-bottom: .5em;
  margin-top: 1em;
  box-shadow: 0 0 1px #F2F2F2;
}
.expro{
  display: inline-block;
  vertical-align: middle;
  margin-left: 40px
}
.skill{
  background-color: #42628C;
  color: #F2F2F2;
  width: 100%;
  display: flex;
  justify-content: center;
}

.hobbies{
  display: flex;
  justify-content: center;
}
.hob{
  max-width: 33%;
  text-align: left;
  margin: 1em;
}
.hob dd{
  padding: 1em;
  margin: 1em;
  margin-top: 0;
}
.hob dt{
  margin-bottom: 0;
  margin-left: 1.5em;
}
/* NOTE: CAJA DE CONTACTO E-MAIL */


/* NOTE: MEDIAS QUERIES */

@media screen and (max-width: 320px) {

  .nav-bar{
    display: none;
  }
  .logo-space{
    width: 80%;
    padding: 0;
    display: flex;
    align-items: center;
  }
  .p{
    width: 80%;
    margin-right: 0;
    padding: .5em;
  }
  .content{
    flex-direction: column;
    align-items: center;
  }
  .foto{
    width: 80%;
    margin:0;
  }
  .intro-text, .contact-box, .text-desc, .text, .job-desc, .hob{
    width: 80%;
  }
  .division,.division-ed{
    display: none;
  }
  .work{
    flex-direction: column;
    align-items: flex-start;
  }
  .year{
    align-items: flex-start;
    margin-bottom: 0;
  }
  .expro{
    margin: 0;
  }
  .name{
    margin-top: 0;
    width: 95%;
  }
  .s-list li{
    padding-left: 1em;
    padding-right: 1em;
  }
  .hobbies{
    flex-direction: column;
  }
  .hob{
    max-width: none;
    margin: 0 1em;
  }
}
@media screen and (min-width: 321px) and (max-width: 414px) {
  .nav-bar{
    display: none
  }
  .logo-space{
    width: 80%;
    padding: 0;
    display: flex;
    align-items: center;
  }
  .p{
    width: 80%;
    margin-right: 0;
    padding: .5em;
  }
  .content{
    flex-direction: column;
    align-items: center;
  }
  .foto{
    width: 80%;
    margin:0;
  }
  .intro-text, .contact-box, .text-desc, .text, .job-desc, .hob{
    width: 80%;
  }
  .division,.division-ed{
    display: none;
  }
  .work{
    flex-direction: column;
    align-items: flex-start;
  }
  .year{
    align-items: flex-start;
    margin-bottom: 0;
  }
  .expro{
    margin: 0;
  }
  .name{
    margin-top: 0;
    width: 95%;
  }
  .s-list li{
    padding-left: 1em;
    padding-right: 1em;
  }
  .hobbies{
    flex-direction: column;
  }
  .hob{
    max-width: none;
    margin: 0 1em;
  }
}
@media screen and (min-width: 415px){
  .icon-nav{
    display: none
  }
}
